<div class="card" style="width: 18rem;">
    <img src="https://github.com/Mr-JonatanGomez.png" class="card-img-top" alt="...">
    <div class="card-body">
      <h5 class="card-title">Card Bootstrap</h5>
      <p class="card-text">Card, usada, para ver como cargar BOOTSTRAP en angular, precticando a modificar el angular.json</p>
    </div>
    <ul class="list-group list-group-flush">
      <li class="list-group-item">2025</li>
      <li class="list-group-item">El año del cambio</li>
      <li class="list-group-item">A por todas!</li>
    </ul>
    <div class="card-body">
      <a href="#" class="card-link">Card link</a>
      <a href="#" class="card-link">Another link</a>
    </div>
  </div>
