

<div class="card col-12" >
    <img src="https://github.com/Mr-JonatanGomez.png" class="card-img-top" alt="...">
    <div class="card-body">
      <h5 class="card-title">Card Bootstrap PADRE</h5>
      <p class="card-text">Card, usada, para ver como cargar BOOTSTRAP en angular, precticando a modificar el angular.json</p>
    </div>
    <ul class="list-group list-group-flush">
      <li class="list-group-item">2025, El año del cambio</li>
 
      
      <li class="list-group-item">El Mensaje desde el hijo:  
      <b>{{mensajeRecibido}}</b></li>
      
    </ul>
    <div class="card-body">
      <h3>CONTADOR</h3>
      <p>{{valorContador}}</p>
     <!--  LOS LLEVAMOS PARA USARLOS DESDE EL HIJO
      <button (click)="decrementar()">Decrementar</button>
      <button (click)="incrementar()">Incrementar</button> -->
    </div>
    <h6 style="color: brown;">Hijo en padre</h6>

    <!-- INPUT -->
    <!-- <app-hijo/> -->
    <!-- Ahora vamos a usar el input, para mandar mensaje del hijo al padre -->
    <!-- <app-hijo [recibeHijo]="mensajePadre"/> -->
   
    
    <!-- OUTPUT -->

    <app-hijo 
    [recibeHijo]="mensajePadre"
    (mensajeDesdeHijo)="recibirMensaje($event)"
    (incrementarDesdeHijo)="incrementar()"
    (decrementarDesdeHijo)="decrementar()"
    
    />
    <div>
      <h4>services</h4>
      <h3 appEstiloHermanos>{{nombre}}</h3>
      <button type="button" (click)="saludar()">SALUDAR</button>
      <button type="button" (click)="preguntar()">PREGUNTAR POR HIJO</button>
      
      <!-- LE METEMOS UN PIPE A LA FECHA PARA ACORTARLA -->
      <h3>Fecha de hoy {{fecha | date:'dd/MM/yyyy, HH:MM'}}</h3>
    </div>


  </div>
