<p>user works!</p>
<div class="card" style="width: 18rem;">
    <img src="..." class="card-img-top" alt="...">
    <div class="card-body">
      <h5 class="card-title">Card title</h5>
      <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
    </div>
    <ul class="list-group list-group-flush">
      <li class="list-group-item">An item</li>
      <li class="list-group-item">A second item</li>
      <li class="list-group-item">A third item</li>
    </ul>
    <div class="card-body">
      <a href="#" class="card-link">Card link</a>
      <a href="#" class="card-link">Another link</a>
    </div>
  </div>
<section>

    @if (isLoggedIn) {
    
        <p>Bienvenido, esto es un componente de usuario, {{username}}, tomando la foto desde perfil GitHub</p>
        
        <!-- Abrir parentesis te da a elegir los eventos -->
        <!-- la funcion del evento hay que darsela al user.ts -->
        <img 
        (click)="greet()"
        src="https://github.com/Mr-JonatanGomez.png" 
        alt="photo">

        <button (click)="isLoggedIn = false">Log Out</button>

    
    }@else {
    
        <p>Inicia sesión</p>
        <button (click)="isLoggedIn = true">Log In</button>
    }
    <!-- le vamos a meter al componente games un username -->
    <app-games (addFavoriteEvent)="getFavorite($event)"
    username="{{username}}" />
    <!-- Metido dentro de un section que lleva style -->

    @if (favGame!== "") {
        <p>Tu juego favorito entre los elegidos es <b>{{favGame}}</b></p>
    }
</section>
