<p>user works!</p>
<section>
  <div class="card" style="width: 18rem;">
      <img src="https://github.com/Mr-JonatanGomez.png" class="card-img-top" alt="...">
      <div class="card-body">
        <h5 class="card-title">Card Bootstrap</h5>
        <p class="card-text">Card, usada, para ver como cargar BOOTSTRAP en angular, precticando a modificar el angular.json</p>
      </div>
      <ul class="list-group list-group-flush">
        <li class="list-group-item">2025</li>
        <li class="list-group-item">El año del cambio</li>
        <li class="list-group-item">A por todas!</li>
      </ul>
      <div class="card-body">
        <a href="#" class="card-link">Card link</a>
        <a href="#" class="card-link">Another link</a>
      </div>
    </div>
</section>
<section>

    @if (isLoggedIn) {
    
        <p>Bienvenido, esto es un componente de usuario, {{username}}, tomando la foto desde perfil GitHub</p>
        
        <!-- Abrir parentesis te da a elegir los eventos -->
        <!-- la funcion del evento hay que darsela al user.ts -->
        <img 
        (click)="greet()"
        src="https://github.com/Mr-JonatanGomez.png" 
        alt="photo">

        <button (click)="isLoggedIn = false">Log Out</button>

    
    }@else {
    
        <p>Inicia sesión</p>
        <button (click)="isLoggedIn = true">Log In</button>
    }
    <!-- le vamos a meter al componente games un username -->
    <app-games (addFavoriteEvent)="getFavorite($event)"
    username="{{username}}" />
    <!-- Metido dentro de un section que lleva style -->

    @if (favGame!== "") {
        <p>Tu juego favorito entre los elegidos es <b>{{favGame}}</b></p>
    }
</section>
