<div class="card col-12" >
  <div class="card-body">
    <h5 class="card-title">Card HIJO</h5>
    
  </div>
  
    <ul class="list-group list-group-flush">
      <p class="list-group-item">Mensaje desde padre fue: <b>{{recibeHijo}}</b> </p>
      
      <label for="entrada">Escribir un mensaje para el padre:</label>
      <input type="text" id="entrada" [(ngModel)]="mensaje">
      <button type="button" (click)="enviarMensaje()">Enviar AL PADRE</button>

      <button (click)="decrementar()">Decrementar en Padre</button>
      <button (click)="incrementar()">Incrementar en Padre</button>

    </ul>
    
  </div>