<article>
    <h3>PRUEBA DEL DEFER</h3>
    Lorem ipsum dolor sit amet consectetur adipisicing elit. Mollitia non doloremque saepe quasi, dolorem provident commodi, beatae perferendis maiores eos vel deserunt vitae sit, enim sint? Necessitatibus aperiam iure porro! <br><br>
    Lorem ipsum, dolor sit amet consectetur adipisicing elit. Vel adipisci nobis at vitae consequatur quo fuga, soluta magnam officia saepe id? Vero iusto impedit molestias saepe blanditiis, enim exercitationem veritatis. <br><br>
    Lorem ipsum dolor sit amet, consectetur adipisicing elit. Nesciunt commodi iusto qui eveniet recusandae omnis quo tempora architecto reiciendis, dolores cumque ducimus ut quae, culpa saepe repudiandae tempore porro iste! <br><br>

    <img src="https://i.kym-cdn.com/photos/images/original/000/962/640/658.png" 
    alt="photo">
</article>

