<h1>Hola Mundo desde {{city}}.</h1>
<app-user />
<div>
    <article>
        Lorem ipsum dolor sit, amet consectetur adipisicing elit. Modi, ut odio aliquam a in error eligendi, nemo odit vel officiis dignissimos nisi consequuntur. Officia reprehenderit incidunt fuga eaque facilis error. <br><br>
        Lorem ipsum dolor sit amet consectetur, adipisicing elit. Reiciendis fuga obcaecati error repellat sint nisi unde molestias possimus totam, rerum libero eveniet, fugiat provident et, voluptatem tenetur a non? Doloremque.<br><br>
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Accusantium dolores eaque mollitia dolore maiores commodi, esse recusandae pariatur. Illum eligendi mollitia nemo voluptatem recusandae assumenda modi expedita similique incidunt quo.<br><br>
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Mollitia non doloremque saepe quasi, dolorem provident commodi, beatae perferendis maiores eos vel deserunt vitae sit, enim sint? Necessitatibus aperiam iure porro! <br><br>
        Lorem ipsum, dolor sit amet consectetur adipisicing elit. Vel adipisci nobis at vitae consequatur quo fuga, soluta magnam officia saepe id? Vero iusto impedit molestias saepe blanditiis, enim exercitationem veritatis. <br><br>
        Lorem ipsum dolor sit amet, consectetur adipisicing elit. Nesciunt commodi iusto qui eveniet recusandae omnis quo tempora architecto reiciendis, dolores cumque ducimus ut quae, culpa saepe repudiandae tempore porro iste! <br><br>
        Lorem ipsum dolor sit, amet consectetur adipisicing elit. Modi, ut odio aliquam a in error eligendi, nemo odit vel officiis dignissimos nisi consequuntur. Officia reprehenderit incidunt fuga eaque facilis error. <br><br>
        Lorem ipsum dolor sit amet consectetur, adipisicing elit. Reiciendis fuga obcaecati error repellat sint nisi unde molestias possimus totam, rerum libero eveniet, fugiat provident et, voluptatem tenetur a non? Doloremque.<br><br>
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Accusantium dolores eaque mollitia dolore maiores commodi, esse recusandae pariatur. Illum eligendi mollitia nemo voluptatem recusandae assumenda modi expedita similique incidunt quo.<br><br>
    </article>
    <app-prueba-defer />
</div>


<router-outlet />

